ECHO_SYMBOL=SPY
ECHO_LOOKBACK_WINDOW=32
ECHO_SENTIMENT_WEIGHT=0.35
ECHO_PREDICTION_THRESHOLD=0.002
ECHO_MAX_POSITION_SIZE=100
ECHO_MAX_DAILY_DRAWDOWN=0.05
ECHO_STOP_LOSS_PCT=0.02
ECHO_INITIAL_CASH=100000
